[project]
	description = Test project for gerrit and it's plugins/connections
[access "refs/*"]
	owner = group Gerrit Managers
	owner = group ldap/wmf
	push = group Gerrit Managers
	submit = group Gerrit Managers
	submit = group JenkinsBot
	forgeCommitter = group Gerrit Managers
	label-Deploy-to-beta = +0..+1 group Registered Users
[access "refs/tags/*"]
	delete = group Gerrit Managers
	createTag = group Gerrit Managers
[label "Code-Review"]
    abbreviation = R
    value = -2 Do not submit
    value = -1 There's a problem with this change, please improve
    value = 0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me, approved
    defaultValue = 0
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MIN
	function = MaxWithBlock
[label "Verified"]
    function = MaxWithBlock
    value = -1 Fails
    value = 0 No score
    value = +1 Checked
    value = +2 Verified
    defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "Deploy-to-beta"]
	description = "Deploy this change to the Beta cluster"
	function = NoBlock
	value = 0
	value = +1 Deploy
	value = +2 Deployed
	defaultValue = 0
[access "refs/for/refs/heads/main"]
	push = block group Registered Users
[access "refs/heads/blockedbranch"]
	create = block group Registered Users
[submit-requirement "Code-Review"]
	submittableIf = label:Code-Review=2
	canOverrideInChildProjects = false
